/*=========major cleanup will be done to remove duplicating of styles in viewports=============*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #020202;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a, button {
  min-width: 40px;
  text-decoration: none;
}

a > img {
  max-width: 100%;
}

a.kyanite,
footer > span,
footer > a > i.fab,
footer > a > i.fas,
footer > p {
  color: #ffffff;
}

h2 {
  border-bottom: 2px solid #3a2101;
}
h4 {
  border-bottom: 1px solid #3a2101;
}

picture > img {
  max-width: 100%;
}

section >img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #3a2101);
}

@media only screen and (max-width: 360px) {
  header {
    display: flex;
    align-items: center;
    border-top: 5px solid;
    border-image: linear-gradient(45deg, rgb(13, 15, 33), rgb(246, 179, 75)) 1;
    padding-left: 3.6%;
  }
  a.logo {
    max-width: 75px;
    max-height: 75px;
  }
  nav {
    display: flex;
    padding: 10px 12px;
    font-size: 2.5rem;
  }
  .fa-1x {
    padding: 10px;
    color: #3a2101;
  }
  main > p {
    border-left: 10px solid #f4b34a;
    margin-top: 0;
  }
  iframe {
    position: absolute;
    padding-top: 15%;
    text-align: center;
    left: 50%;
    margin-left: -60px;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  article {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  aside {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 60px;
    height: 150px;
    background-color: #3a2101;
    padding-top: 40px;
  }
  footer > p{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .largerScreen {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    border-top: 5px solid;
    border-image: linear-gradient(45deg, rgb(13, 15, 33), rgb(246, 179, 75)) 1;
    padding-left: 3.6%;
    justify-content: space-between;
    font-size: 3.5rem;
    overflow: hidden;
  }
  .logo {
    display: flex;
    flex-grow: 1;
    max-height: 72px;
    max-width: 72px;
  }
  nav {
    display: flex;
    padding: 10px 12px;
    font-size: 2.5rem;
  }
  .fa-1x {
    padding: 10px;
    color: #3a2101;
  }
  main > p {
    border-left: 10px solid #f4b34a;
    margin-top: 0;
  }
  iframe {
    position: absolute;
    padding-top: 15%;
    text-align: center;
    left: 50%;
    margin-left: -60px;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  section > p {
    max-width: 90%;
    padding-left: 5%;
  }
  article {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  aside {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 60px;
    height: 150px;
    background-color: #3a2101;
    padding-top: 40px;
  }
  footer > a {
    font-size: 2rem;
  }
  footer > p{
    font-size: 1.4rem;
  }
}

/* @media only screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main current"
      "article article"
      "bio bio"
      "footer footer";
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid;
    border-image: linear-gradient(45deg, rgb(13, 15, 33), rgb(246, 179, 75)) 1;
    padding-left: 3.6%;
    grid-area: header;
  }
  nav {
    display: flex;
    padding: 10px 12px;
    font-size: 2.5rem;
  }
  nav > a {
    padding-right: 5%;
    padding-left: 5%;
  }
  .fa-1x {
    padding: 10px;
    color: #3a2101;
    font-size: 3rem;
  }
  main {
    grid-area: main;
  }
  #wolf {
    grid-area: current;
  }
  #bio {
    grid-area: bio;
  }
  main > p {
    border-left: 10px solid #f4b34a;
    margin-top: 0;
  }
  iframe {
    position: absolute;
    padding-top: 8%;
    text-align: center;
    left: 20%;
    margin-left: -30px;
  }
  main > iframe.timer {
    font-size: 3rem;
  }
  picture > img {
    max-width: 100%;
  }
  h2 {
    border-bottom: 2px solid #3a2101;
  }
  h4 {
    border-bottom: 1px solid #3a2101;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  article {
    margin-top: 40px;
    margin-bottom: 40px;
    grid-area: article;
  }
  aside {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 60px;
    height: 150px;
    background-color: #3a2101;
    padding-top: 40px;
    grid-area: footer;
  }
  footer > span,
  footer > a > i.fab,
  footer > a > i.fas {
    color: #ffffff;
  }
  footer > P {
    font-size: 0.8rem;
    color: #ffffff;
  }
} */