.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
}

a, button {
  min-width: 40px;
  text-decoration: none;
}

nav.a,
.fas,
.fab,
a#hide {
  color: #ffffff;
  /* padding: 0 20px;
  text-align: center; */
}

a.kyanite {
  color: #ffffff;
}

@media only screen and (max-width: 320px) {
  html {
    background: url('../images/shecriedwolf.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  nav {
    position: absolute;
    top: 45px;
    left: 48px;
    right: 70px;
    display: flex;
  }
  #show {
    opacity: 0.3;
  }
  #show:hover {
    opacity: 0.7;
  }
  main {
    padding-top: 60px;
  }
  .timer {
    margin-top: 10px;
    text-align: center;
  }
  #test {
    max-width: 80vw;
    font-size: 0.7em;
    background-color: rgba(255,255,255, 0.3);
    margin-left: 20px;
    margin-top: 90px;
    padding: 10px;
    border: 1px inset #e7d1a3;
    max-height: 256;
    overflow: scroll;
  }
  footer {
    position: absolute;
    bottom: 1px;
    font-size: 0.7rem;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 321px) {
  html {
    background: url('../images/shecriedwide.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
  }
  nav {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 1.4em;
  }
  #show {
    opacity: 0.3;
  }
  #show:hover {
    opacity: 0.7;
  }
  main {
    padding-top: 60px;
  }
  .timer {
    margin-top: 10px;
    text-align: center;
  }
  #test {
    max-width: 80vw;
    background-color: rgba(255,255,255, 0.3);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    padding: 10px;
    border: 1px inset #e7d1a3;
    overflow: scroll;
    max-height: 7em;
    scroll-behavior: smooth;
  }
  footer {
    position: absolute;
    bottom: 1px;
    font-size: 0.7rem;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 769px) {
  html {
    background-image: url('../images/shecriedwide.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
  }
  body {
    max-width: 960px;
  }
}