/*=========major cleanup will be done to remove duplicating of styles in viewports=============*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #020202;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a, button {
  min-width: 40px;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  border-top: 5px solid;
  border-image: linear-gradient(45deg, rgb(13, 15, 33), rgb(246, 179, 75)) 1;
  padding-left: 3.6%;
}

a > img {
  max-width: 100%;
}

nav {
  display: flex;
  padding: 10px 12px;
  font-size: 2.5rem;
}

.fa-1x {
  padding: 10px;
  color: #3a2101;
}

main > p {
  border-left: 10px solid #f4b34a;
  margin-top: 0;
}

article {
  margin-top: 40px;
  margin-bottom: 40px;
}

a.kyanite,
footer > span,
footer > a > i.fab,
footer > a > i.fas,
footer > p {
  color: #ffffff;
}

h2 {
  border-bottom: 2px solid #3a2101;
}
h4 {
  border-bottom: 1px solid #3a2101;
}

picture > img {
  max-width: 100%;
}

section >img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #3a2101);
}

.events > ul > li,
li > a {
  color: #f4b34a;
}
li > span {
  font-weight: bolder;
}

footer {
  text-align: center;
  margin-top: 60px;
  height: 150px;
  background-color: #3a2101;
  padding-top: 40px;
}

@media only screen and (max-width: 360px) {
  a.logo {
    max-width: 75px;
    max-height: 75px;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  aside {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 60px;
    height: 150px;
    background-color: #3a2101;
    padding-top: 40px;
  }
  footer > p{
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 361px) {
  .largerScreen {
    display: none;
  }
  header {
    justify-content: space-between;
    font-size: 3.5rem;
    overflow: hidden;
  }
  .logo {
    display: flex;
    flex-grow: 1;
    max-height: 72px;
    max-width: 72px;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  section > p {
    max-width: 90%;
    padding-left: 5%;
  }
  aside {
    display: none;
  }
  footer > a {
    font-size: 2rem;
  }
  footer > p{
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main current"
      "bio aside"
      "footer footer";
  }
  .events {
    display: none;
  }
  header {
    font-size: 3.5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid;
    border-image: linear-gradient(45deg, rgb(13, 15, 33), rgb(246, 179, 75)) 1;
    padding-left: 3.6%;
    grid-area: header;
  }
  nav {
    display: flex;
    padding: 10px 12px;
    font-size: 2.5rem;
  }
  nav > a {
    padding-right: 5%;
    padding-left: 5%;
  }
  .fa-1x {
    padding: 10px;
    color: #3a2101;
    font-size: 3rem;
  }
  main {
    grid-area: main;
  }
  #wolf {
    grid-area: current;
  }
  #bio {
    grid-area: bio;
  }
  main > p {
    border-left: 10px solid #f4b34a;
    margin-top: 0;
  }
  picture > img {
    max-width: 100%;
  }
  article .more {
    padding-top: 300px;
  }
  h2 {
    border-bottom: 2px solid #3a2101;
  }
  h4 {
    border-bottom: 1px solid #3a2101;
  }
  .more {
    padding-left: 10px;
    max-width: 95%;
  }
  article {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 300px;
    grid-area: current;
  }
  aside {
    display: block;
    max-width: 90%;
    max-height: 500px;
    overflow-y: scroll;
    grid-area: aside;
  }
  aside h2 {
    position: sticky;
    top: 0px;
    background: #ffffff;
  }
  footer {
    text-align: center;
    margin-top: 60px;
    height: 150px;
    background-color: #3a2101;
    padding-top: 40px;
    grid-area: footer;
  }
  footer > span,
  footer > a > i.fab,
  footer > a > i.fas {
    color: #ffffff;
  }
  footer > P {
    font-size: 0.8rem;
    color: #ffffff;
  }
}

@media only screen and (min-width: 961px) {
  body {
    max-width: 960px;
  }
  .events {
    display: none;
  }
}